h1{
	font-size: 52px;
}
body {
	background: url(Bohemia-Wood-Texture.jpg);
	font-size: 18px;
}

 span{
	font-size: 28px;

}

.done
{
	text-decoration: line-through;
	color: orangered;
}

input[type=submit]{
	background-color: #4CAF50;
	font-size: 18px;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
}

input[type=time]{
	height: 20px;
	font-size: 16px;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
}
