<h1>My Tasks</h1>
<div>

  <div ng-repeat="task in $ctrl.todoService.todos">
    <div><input type="checkbox" ng-model="task.done" />

    <a ui-sref="description({id:task.id})">
      <span ng-class="{done: task.done}">{{task.task}}</span>
    </a>



    <button ng-click="$ctrl.todoService.delete(task.id)">Delete</button>
    </div>
    <br>
  </div>

  <div class="input-form">
    <input type="text" ng-model="newTask" />
    <button ng-click="$ctrl.todoService.add(newTask)">Add</button>
  </div>
</div>
