
<h1>My Task Description</h1>

<h2>{{$ctrl.todoItem.task}}</h2><br>
<h3>{{$ctrl.todoItem.description}}</h3>


<form ng-submit="$ctrl.todoService.edit($ctrl.todoItem.id ,$ctrl.todoItem.description, $ctrl.todoItem.time, $ctrl.todoItem.task)">

	<textarea rows="10" cols="30" ng-model="$ctrl.todoItem.description" name="text"></textarea><br>
	<br>
	{{$ctrl.todoItem.time}}
	<input ng-model="$ctrl.todoItem.time" type="time" min="00:00:00" max="20:00:00">
	<br><br>
	<input type="submit" value="Submit" />

</form>
